{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="title text-center">Futures fermetures du pont à partir du {{ dateOfToday }}</h1>
    <div class="container d-flex justify-content-center p-2 col6">
        <div class="searchDateForm form-group">
            {{ form_start(dateForm) }}
            {{ form_row(dateForm.Date, {'attr': {'class': 'form-control dateFormInput'}}) }}
            <button class="btn btn-outline-info">Recherche</button>
            {{ form_end(dateForm) }}
        </div>
        <div class="searchBoatForm form-group shown" id="searchBoatForm">
            {{ form_start(boatForm) }}
            <div class="flex-column">
                {{ form_row(boatForm.Bateau, {'attr': {'class': 'form-control dateFormInput'}}) }}
            </div>

            <button class="btn btn-outline-info">Recherche</button>
            {{ form_end(boatForm) }}
        </div>
    </div>

    {% if not search is empty %}

        <h2>Résultats pour votre recherche : {{ search }}</h2>
        <a href="{{ path('app_index') }}" class="btn btn-outline-info">Remettre les filtres à zéro</a>
    {% endif %}

    <div class="container col-8 text-center reason-selector">
        <label class="toggle">
            <span class="toggle-label">Afficher uniquement les fermetures dûes à une maintenance</span>
            <input class="toggle-checkbox" id="toggle-listener" type="checkbox" checked>
            <div class="toggle-switch"></div>
            <span class="toggle-label">Afficher uniquement les fermetures dûes à un passage de bateau(x)</span>

        </label>
    </div>
    <div class="container">
        {% if not datas is empty  %}
        <table class="data-table table table-hover">
            <th class="col-3 text-center">Raison</th>
            <th class="col-3 text-center">Heure de fermeture du pont</th>
            <th class="col-3 text-center">Heure de réouverture du pont</th>

            {% for data in datas|sort((a,b)=> a.closureHourObject <=> b.closureHourObject) %}

                {% if data.reason is same as("MAINTENANCE") %}
                    <tr class="maintenanceReason">
                        <td class="text-center">{{ data.reason }}</td>
                        <td class="text-center">{{ data.closureHour }}</td>
                        <td class="text-center">{{ data.reOpenHour }}</td>
                    </tr>

                {% endif %}
                {% if not data.reason is same as("MAINTENANCE") %}
                    <tr class="boatReason">
                        <td class="text-center">{{ data.reason }}</td>
                        <td class="text-center">{{ data.closureHour }}</td>
                        <td class="text-center">{{ data.reOpenHour }}</td>
                    </tr>
                {% endif %}


            {% endfor %}
        </table>
        {% else %}
            <div class="container col-6">
        <h3 class="text-center">Aucune fermeture du pont ne correspond à votre recherche</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

