{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="title text-center">Fermetures du pont Chaban-Delmas</h1>
    <h3 class="text-center mt-4">Durée avant la prochaine fermeture du pont : {{ timerNextEvent }}</h3>
    <div class="container d-flex justify-content-center p-2 col6">
        <div class="searchDateForm form-group">
            {{ form_start(dateForm) }}
            {{ form_row(dateForm.Rechercher_une_date, {'attr': {'class': 'form-control dateFormInput'}}) }}
            <button class="btn btn-outline-info">Recherche</button>
            {{ form_end(dateForm) }}
        </div>
        <div class="searchBoatForm form-group shown" id="searchBoatForm">
            {{ form_start(boatForm) }}
            <div class="flex-column">
                {{ form_row(boatForm.Rechercher_un_bateau, {'attr': {'class': 'form-control dateFormInput'}}) }}
            </div>

            <button class="btn btn-outline-info">Recherche</button>
            {{ form_end(boatForm) }}
        </div>
    </div>

    {% if not search is empty %}

        <div class="container text-center">
            <h3 class="search-results">Résultats pour votre recherche : {{ search }}</h3>
            <a href="{{ path('app_index') }}" class="btn btn-outline-info reset-filter-btn">Réinitialiser les
                filtres</a>
        </div>

    {% endif %}

    <div class="container">

        {% if not datas is empty %}

            <div class=" container tab-container">
                <div class="p-2 text-center flex-fill tab" id="show-maintenance-tab">
                    <h5>Afficher uniquement les maintenances du pont</h5>
                </div>
                <div class="p-2 text-center flex-fill tab" id="show-boat-tab">
                    <h5>Afficher uniquement les passages de bateaux</h5>
                </div>
            </div>
            <table class="data-table table table-hover">
                <th class="col-3 text-center">Raison</th>
                <th class="col-3 text-center">Heure de fermeture du pont</th>
                <th class="col-3 text-center">Heure de réouverture du pont</th>

                {% for data in datas %}

                    {% if data.reason is same as("MAINTENANCE") %}
                        <tr class="maintenanceReason shown">
                            <td class="text-center">{{ data.reason }}</td>
                            <td class="text-center">{{ data.closureHour }}</td>
                            <td class="text-center">{{ data.reOpenHour }}</td>
                        </tr>
                    {% endif %}

                    {% if not data.reason is same as("MAINTENANCE") %}
                        <tr class="boatReason shown">
                            <td class="text-center">{{ data.reason }}</td>
                            <td class="text-center">{{ data.closureHour }}</td>
                            <td class="text-center">{{ data.reOpenHour }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}

            </table>

        {% else %}

            <div class="container col-6">
                <h3 class="text-center">Aucune fermeture du pont ne correspond à votre recherche</h3>
            </div>

        {% endif %}

    </div>

{% endblock %}

